/* .profile {
  text-align: center;
  border: 2px solid gray;
  border-radius: 5px;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
  box-shadow: 2px 2px 6px rgba(129, 123, 123, 0.821);
}

.avatar {
  width: 120px;
  border-radius: 50%;
  border: 1px solid grey;
  margin-bottom: 15px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.tag,
.location {
  font-weight: bold;
  color: gray;
}

.stats {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  height: 100px;
}

.item {
  outline: 1px solid darkgrey;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 170px;
  height: 100px;
}

.label {
  color: gray;
  margin-bottom: 5px;
}

.quantity {
  font-weight: bold;
} */
.profile {
  width: 320px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: purple;
  border: 5px ridge red;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 250px;
  height: auto;
  margin-top: 10px;
}

.avatar:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.name,
.tag,
.location {
  margin-top: 0;
  margin-bottom: 0;
}

.name {
  margin-top: 10px;

  font-size: 30px;
  line-height: 1.72;
  font-weight: 700;
  color: #fff;
}

.tag {
  font-size: 20px;
  line-height: 1.72;
  font-weight: 500;
  color: #fff;
}

.location {
  margin-top: 10px;

  color: gold;
}

.stats {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
}

.statsItem {
  display: flex;
  justify-content: center;
  flex-direction: column;

  border: #777;

  box-sizing: border-box;
  width: 120px;
  height: 60px;

  background-color: #fff;
}

.statsItem:not(:last-child) {
  margin-right: 2px;
}

.label,
.quantity {
  display: flex;
  flex-direction: column;

  font-size: 25px;
  font-weight: 500;
  align-items: center;
  color: green;
}

.quantity {
  font-size: 30px;
  color: #ff6f00;
}
