.transactionHistory {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  width: 450px;
  border: 2px;
  border-style: double;
  text-align: center;
  background-color: beige;
}

.header {
  border-bottom: 5px;
  border-style: groove;
  background-color: aqua;
}

.transactionHistory .rowItem,
.transactionHistory .dataItem {
  padding: 10px;
  border: 1px solid #ccc;
}

.transactionHistory .dataItem:hover {
  position: relative;
  z-index: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
